
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
          <a (click)="goToRegister()" class="btn btn-sm btn-outline-light" >register</a>
</nav>
<div class="container">
    <div class="col-md-6 offset-md-3 ">
      <div class="d-flex justify-content-center align-items-center">
        <div>
        <h3 > login User </h3>
        <form (ngSubmit) = "onSubmit()" #loginform="ngForm" >
            <!-- <small class="text-danger">
                {{msg}}
            </small> -->
            <!-- eamil id validation -->
            <div class="form-group" 
            [class.has-error]="userEmail.invalid && userEmail.touched"
            [class.has-success]="userEmail.valid">
                <label for="Email">Email</label>
                <input [(ngModel)]="user.emailId" type="email" name="userEmail" id="userEmail" 
                class="form-control" placeholder="Enter Email" 
                #userEmail="ngModel" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">   
                <span class="help-block text-danger" *ngIf="userEmail.hasError('required') && userEmail.touched">
                  Email-Id is required
                </span>
                <span class="help-block text-danger" *ngIf="userEmail.hasError('pattern') && userEmail.touched">
                    Not a valid Email
                </span>
            </div>    
        
            <!-- password validation -->
            <div class="form-group "
            [class.has-error]="userPassword.invalid && userPassword.touched"
            [class.has-success]="userPassword.valid">
                <label for="Password" class="control-label">Password</label>
                <input type="password" [(ngModel)]="user.password" name="userPassword" 
                id="userPassword" class="form-control" placeholder="Enter Password" 
                 #userPassword="ngModel" required minlength=3 maxlength=8>
                 <span class="help-block text-danger" 
                 *ngIf="userPassword.hasError('required') && userPassword.touched">
                  password is required
                </span>
                <span class="help-block text-danger" 
                 *ngIf="userPassword.hasError('minlength')">
                  password is too short
                </span>
                <span class="help-block text-danger" 
                 *ngIf="userPassword.hasError('maxlength')">
                  password is too large
                </span>
             </div>
            
      
            <button class = "btn btn-outline-success btn-sm mr-2" type ="submit" [disabled]="loginform.invalid">Sign In</button>
            <a (click)="goToForgetPass()" class="btn btn-sm btn-outline-info mr-2" >forget password</a>
            <a (click)="goToChangePass()" class="btn btn-sm btn-outline-info mr-2"  >change password</a>
            
            <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
                Invaild Data
              </div>
            
        </form>
      </div>
      </div>
    </div>
    </div>