
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h3> Change Password </h3>
        <form (ngSubmit) = "onSubmit(user.userName)" [formGroup]="fbFormGroup">
        
            <div class="form-group">
                <label> User Name</label>
                <input type="text" class ="form-control" id = "userName"
                    [(ngModel)] = "user.userName" name = "userName" formControlName="userName">
            </div>
        
            <div class="form-group">
                <label> Password</label>
                <input type="password" class ="form-control" id = "password1"
                     name = "password" formControlName="password1">
            </div>
            
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class ="form-control" id = "password"
                    [(ngModel)] = "user.password" name = "password" formControlName="password">
            </div>
            
      
            <button class = "btn btn-success" type ="submit" [disabled]="!fbFormGroup.valid">Submit</button>
            <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
                Password does not match!....
              </div>
            
        </form>
    </div>
 </div>
