
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="login" routerLinkActive="active" class="nav-link" >Login</a>
        </li>

        <li class = "nav-item">
            <a routerLink="register" routerLinkActive="active" class="nav-link" >register</a>
        </li>

        <li class = "nav-item">
            <a routerLink="forgetpassword" routerLinkActive="active" class="nav-link" >forget password</a>
        </li>

        <li class = "nav-item">
            <a routerLink="changepassword" routerLinkActive="active" class="nav-link" >change password</a>
        </li>
        
    </ul>
</nav>
    <router-outlet></router-outlet>
