
<div class="col-md-6 offset-md-3">
    <h3> Register User </h3>
   <!-- <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
        User Already Exists..
      </div>
      -->
    <form (ngSubmit) = "onSubmit()" >
    
        <div>
            <label> User Name</label>
            <input type="text" class ="form-control" id = "userName"
                [(ngModel)] = "user.userName" name = "userName" formControlName="userName">
        </div>
    
        <div >
            <label> Password</label>
            <input type="text" class ="form-control" id = "password"
                [(ngModel)] = "user.password" name = "password" >
        </div>
    
        <div >
            <label> Email Id</label>
            <input type="email" class ="form-control" id = "emailId"
                [(ngModel)] = "user.emailId" name = "emailId">
        </div>
    
        <div >
            <label> Mobile No</label>
            <input type="text" class ="form-control" id = "mobileNo"
                [(ngModel)] = "user.mobileNo" name = "mobileNo" >
        </div>

    <div >
            <label> Gender</label>
            <input type="text" class ="form-control" id = "gender"
                [(ngModel)] = "user.gender" name = "gender">
        </div>
    

        <div >
            <label> city</label>
            <input type="text" class ="form-control" id = "city"
                [(ngModel)] = "user.city" name = "city" >
        </div>

        <div >
            <label> PinCode</label>
            <input type="text" class ="form-control" id = "pincode"
                [(ngModel)] = "user.pincode" name = "pincode" >
        </div>
        <button class = "btn btn-success" type ="submit" >Register</button>
        
    
    </form>
    </div> 