
<button class="btn btn-info" (click)="logoutFunction()">Logout</button>
<a class="btn btn-success" (click)="addBookBtnClick()" >Add Book</a>
<a class="btn btn-success" (click)="profileBtnClick()" >Profile</a>
<h1>Book List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User Id</th>
            <th>ISBN</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Cost</th>
            <th>Offer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let b of books">
            <td>{{b.userId}}</td>
            <td>{{b.isbn}}</td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.genre}}</td>
            <td>{{b.publisher}}</td>
            <td>{{b.cost}}</td>
            <select  name="mybooklist"  class="form-control"  >
                <option >Select Book:</option>
                <option  *ngFor= "let mybook of mybooks">{{mybook.title}}</option>
            </select>
            <!--value={{mybook.bookId}}-->
            <td>
                <button (click)="exchangeBook()" class="btn btn-info">Exchange</button>
            </td>
        </tr>
    </tbody>

</table>


