
<div class="container-field">

    <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-between">
            <div>
                <a class="navbar-brand" href="#">
                    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    Bootstrap
                  </a>
            </div>
            <div >
                <button class="btn btn-info" (click)="logoutFunction()">Logout</button>
                <a class="btn btn-success" (click)="addBookBtnClick()" >Add Book</a>
                <a class="btn btn-success" (click)="profileBtnClick()" >Profile</a>
                <a class="btn btn-success" (click)="excReqBtnClick()" >Exchange Requests</a>
                <a class="btn btn-success" (click)="myReqBtnClick()" >My Requests</a>

            </div>
        </div>
       
      </nav>



<h1>Book List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User Id</th>
            <th>ISBN</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Cost</th>
            <th>Offer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let b of books">
            <td >{{b.userId}}</td>
            <td>{{b.isbn}}</td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.genre}}</td>
            <td>{{b.publisher}}</td>
            <td>{{b.cost}}</td>
           <!--<select ng-model="selectedBook"   class="form-control" (click)="clickHere(selectedBook1)" selected-option="selectedBook1" >
                <option >Select Book:</option>
                <option  *ngFor= "let mybook of mybooks" [ngValue]="mybook">{{mybook.title}}</option>
            </select>
            --> 
            <!--value={{mybook.bookId}}-->
            <select [(ngModel)]="selectedBook1"   class="form-control" (click)="clickHere()"  >
               <option >Select Book:</option> 
                <option  *ngFor= "let mybook of mybooks" [ngValue]="mybook">{{mybook.title}}</option>
            </select>
           
            <td>
                <button (click)="exchangeBook(b.bookId)" class="btn btn-info">Exchange</button>
            </td>
        </tr>
    </tbody>

</table>

</div>


