
<div class="container">
<div class="col-md-6 offset-md-3">
    <h3> Forget Password </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="email" class ="form-control" id = "emailId"
                [(ngModel)] = "user.emailId" name = "emailId" placeholder="Enter Registered EmailId">
        </div>
    
        
        <button class = "btn btn-success" type ="submit">Submit</button>
    </form>
</div>
</div>